body{
    height: 100vh;
    overflow-y: auto;

}

.video {
    width: 200px;
    aspect-ratio: 16 / 9;
    background-color: lightblue;
    margin: 10px;
}

#observer_target{
    width: 10px; height: 10px; background-color: transparent ;
}


body{
    display: flex;
    flex-flow: column nowrap;
}

.wrapper {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
}


.box{
    background-color: black;
}

.comment{

  width: 80%;

  border: 1px solid red;
  margin-top: 1em;
  padding: 0px;
}


.comments-section {

  /* border: 1px solid grey; */


  /* height: 100%; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;


}

.min-user {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: magenta;
    color: white;
    display: flex;
    font-weight: bolder;
    font-size: 40px;
    justify-content: center;
    align-items: center;
  }
  
  .add-comment-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  
  .add-comment {
    border: none;
    border: #555 1px solid;
    color: lightslategrey;
    display: flex;
    justify-content: center;
    width: 95%;
    align-items: center;
    flex: 1;
  }

  .new-comment {

    width: 80%;

    border: 1px solid red;
    margin-top: 1em;
    padding: 2em;
    display: flex;
    flex-flow: row nowrap;
  }

  
  .comment-user {
    color: lightslategrey;
  }
  
  .comment-like {
    padding: 0.2em;
    border-radius: 50% 50% 50% 50%;
    cursor: pointer;
  }
  
  .comment-reply, .comment-user, .comment-date {
    cursor: pointer;
  }
  
  .comment-like:hover {
    background-color: #e2e2e290;
  }

