body{
    height: 100vh;
    overflow-y: auto;

}

.video {
    width: 200px;
    aspect-ratio: 16 / 9;
    background-color: lightblue;
    margin: 10px;
}

#observer_target{
    width: 10px; height: 10px; background-color: transparent ;
    
}


body{
    display: flex;
    flex-flow: column nowrap;
}

.wrapper {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
}


.box{
    background-color: black;
}

